@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#auth-heading-title{
  padding-top:8px;
}

#auth-container{
  border:0px;
}

body {
  font-family: 'Raleway', sans-serif;
}